{
  "Auth": {
    "Enabled": true
  },
  "Access": {
    "AdminEmails": [
      "peterv@nationwideproduce.com"
    ]
  },
  "AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "Domain": "nationwideproduce.com",
    "TenantId": "YOUR_TENANT_ID",
    "ClientId": "YOUR_CLIENT_ID",
    "ClientSecret": "YOUR_CLIENT_SECRET",
    "CallbackPath": "/signin-oidc"
  },
  "Sql": {
    "ConnectionString": "Server=BO-REP;Database=NWPInvoiceDev;TrustServerCertificate=True;",
    "UserId": "YOUR_SQL_LOGIN",
    "Password": "YOUR_SQL_PASSWORD"
  },
  "GraphDocuments": {
    "Enabled": true,
    "TenantId": "YOUR_TENANT_ID",
    "ClientId": "YOUR_CLIENT_ID",
    "ClientSecret": "***"
  },
  "MockDocuments": {
    "PreviewUrls": {
      "4840371_1405DigFactuur_V101.pdf": "PASTE_SHAREPOINT_FILE_LINK_HERE"
    }
  },
  "BenchmarkGraph": {
    "Enabled": true,
    "SiteHostname": "nationwideproduceplc.sharepoint.com",
    "SitePath": "",
    "HeadersListId": "997536d7-f254-4e58-bd08-c4e9e051a019",
    "LinesListId": "823f50ad-2c2f-4b75-a556-1a85f62527a3"
  }
}
